* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #231f1e;
  font-family: Montserrat, sans-serif;
}

.logo {
  color: rgb(266, 266, 266);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  font-size: 20x;
  letter-spacing: 2px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: whitesmoke;
  margin: 4px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1080px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 1080px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #231f1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.nav-active li {
    animation: navLinkFade 0.5s ease forwards;
} 

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
